@import url('https://fonts.googleapis.com/css?family=Ranga:700');
body{background-color: cornsilk; color: crimson; 
	font-family:'Ranga', cursive;
 }
h1{font-family:"Comic Sans MS", cursive, sans-serif;}